$c-dark-blue:   #212534;
$c-dark-gray:   #2b3040;
$c-white:       #fbfbfb;
$c-light-white: #ffffff;
$c-blue:        #fdfdfd;
$c-light-blue:  #aaadbb;
$c-gray:        #b7bacd;
$c-green:       #13e28d;
$c-yellow:      #fedc3f;
